<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{{ member[1] }}'s Classes</title>
</head>
<body class="class-table-container">
    <h1>Classes for {{ member[1] }}</h1>

    <div class="class-list-box">
    {% if classes %}
        <table class="class-table">
            <tr>
                <th>Class Name</th>
                <th>Class Time</th>
            </tr>
            {% for class in classes %}
            <tr>
                <td>{{ class[0] }}</td>
                <td>{{ class[1] }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No classes registered for this member.</p>
    {% endif %}
    </div>
    <div class="button-container">
    <br>
    <a href="{{ url_for('view_members') }}" class="blue-button">Back to Members List</a>
    <br>
    <a href="{{ url_for('register_classes', member_id=member[0]) }}" class="blue-button" >
        Register New Class for {{ member[1] }}
    </a>
    </div>
</body>
</html>
